PORT=5000
MONGODB_URL=mongodb://127.0.0.1:27017/full_mern_ecommerce
JWT_SECRET=change_this_jwt_secret
ADMIN_SECRET=change_this_admin_secret
CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
SECRET_KEY=your_cloudinary_api_secret
MAIL_ID=your_email_address
MP=your_email_app_password